@import 'var';
@import 'mixins';

.header {
    padding: 25px 50px;
    @include media (599px) {
        &  {
            padding: 15px;
        }
        &.flex {
            justify-content: start;
        }
    }
    
    &__side {
        display: flex;
        align-items: center;
    }
    
    &__svg {
        margin-right: 35px;
        @include media (599px) {
            &  {
                margin-right: 10px;
            }
        }
    }

    &__search {
        margin-right: 24px;
        @include media (1099px) {
            & {
                margin-right: 10px;
            }
        }
        @include media (599px) {
            &  {
                margin-right: 0px;
            }
        }
    }

    &__regist {
        & .menu__item {
            margin-right: 16px;
            @include media (599px) {
                & {
                    padding: 0;
                    font-size: 1.5rem;
                    margin-right: 5px;
                }
            }
        }
        @include media (799px) {
            & .button  {
                margin-right: 15px;
            }
        }
        @include media (599px) {
            & .button  {
                padding: 10px 10px;
                font-size: 1.5rem;
                line-height: 1;
                margin-right: 0px;
            }
        }
    }
}

.menu {
    &__item {
        text-decoration: none;
        color: inherit;
        font-weight: 300;
        font-size: 1.4rem;
        padding: 4px 24px;
        @include media (1099px) {
            & {
                padding: 4px 10px;
            }
        }
        @include media (899px) {
            & {
                padding: 4px 4px;
            }
        }
    }
}

.footer {
    padding: 40px 0;
    @include media (499px) {
        & {
            padding: 20px 0 0;
        }
        & .flex {
            justify-content: center;
            text-align: center;
        }
        & svg {
            margin-top: 20px;
        }
    }
}