@import 'normalize';
@import 'var';
@import 'mixins';
@import 'header-footer';
@import 'sections';
@import 'checkbox';
@import 'Navbar';

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font: 400 1.6rem/1.5 $ff;
    color: $dark;
    background-color: $light;
    max-width: 1400px;
}

a, button, label {
    transition: all .3s ease-in-out;
    cursor: pointer;
}
a {
    @include hover {
        color: $brand;
    }
}
button:not(.button__svg) {
    @include hover {
        box-shadow: 0 0 2px black;
        color: $brand;
        background-color: transparent;
    }
}
label {
    @include hover {
        opacity: 80%;
    }
}

.button {
    font-size: 1.4rem;
    padding: 4px 24px;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background-color: $brand;
    line-height: 40px;

    &__svg {
        background-color: transparent;
        border: 0;
        outline: 0;
    }
}

.container {
    max-width: 1200px;
    padding: 45px;
    margin: 0 auto;
    @include media (599px) {
        & {
            padding: 30px 15px;
        }
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

h1, h2 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;

    & span {
        color: $brand;
    }
}

h1 {
    font-size: 112px;
    max-width: 800px;
    @include media (799px) {
        & {
            font-size: 80px;
        }
    }
    @include media (599px) {
        & {
            font-size: 60px;
        }
    }
    @include media (499px) {
        & {
            font-size: 40px;
        }
    }
}

h2 {
    font-size: 48px;
    max-width: 535px;
    @include media (799px) {
        & {
            font-size: 35px;
        }
    }
    @include media (599px) {
        & {
            font-size: 30px;
        }
    }
    @include media (499px) {
        & {
            font-size: 25px;
        }
    }
}